@charset "UTF-8";

body {
    background-color: rgb(120, 120, 120);
}

#wrap {
    width: 960px;
    margin: auto;
    background-color: white;
}

header {
    padding: 40px;
    height: 150px;
}

nav {
    padding: 8px 40px;
    background-color: black;
    color: white;
}

main {
    padding: 40px;
    height: 400px;
    background-color: antiquewhite;
}

.title {
    color: royalblue;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

footer {
    padding: 40px;
    height: 40px;
    background-color: royalblue;
    color: white;
}